#skill:hover{
    background-color: #e5e7eb; /* bg-gray-200 */
    color: #305db6; /* text-gray-700 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* py-2 */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem; /* rounded-md */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    cursor: pointer;

}